*,
*::before,
*::after {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  background: linear-gradient(to right, #00ff6c, #00aaff);
  font-family: "Montserrat", sans-serif;
  font-size: 1.2rem;
  font-weight: 600;
}

.grid__calculator {
  display: grid;
  justify-content: center;
  align-content: center;
  min-height: 100vh;
  grid-template-columns: repeat(4, 100px);
  grid-template-rows: minmax(120px, auto) repeat(5, 100px);
}

.grid__calculator > button {
  cursor: pointer;
  font-family: "Montserrat", sans-serif;
  font-size: 1.5rem;
  border: 1px solid #fff;
  outline: none;
  background-color: rgba(255, 255, 255, 0.75);
}

.grid__calculator > button:hover {
  background-color: rgba(255, 255, 255, 0.9);
}

.span__2 {
  grid-column: span 2;
}

.output {
  grid-column: 1 / -1;
  background-color: #000;
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  flex-direction: column;
  padding: 10px;
  word-wrap: break-word;
  word-break: break-all;
}

.output .previous__operand {
  color: rgba(255, 255, 255, 0.75);
  font-size: 1.5rem;
}

.output .current__operand {
  color: rgba(255, 255, 255, 0.75);
  font-size: 1.5rem;
}
