@import url("https://fonts.googleapis.com/css?family=Marck+Script|Poppins:300,400,500,600,700|Roboto+Mono:400,500,700|Roboto+Slab:300,400,700|Roboto:300,400,500,700,900");

*,
*::after,
*::before {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

html,
body {
  height: 100%;
}

body {
  background-color: #ffffff;
  line-height: 24px;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  font-family: "Roboto", sans-serif;
  color: #010225;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  color: #373737;
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  margin-top: 0;
}

p {
  font-size: 14px;
  font-weight: 400;
  line-height: 24px;
  color: #737373;
  margin-bottom: 15px;
  font-family: "Roboto", sans-serif;
}

.bg-img {
  background-position: center center;
  background-size: cover;
}

.ml-70 {
  margin-left: 70px;
}

.slider__btn a {
  font-weight: 500;
  text-transform: uppercase;
  display: inline-block;
  line-height: 1;
  z-index: 1;
  color: #ff5151;
  padding: 14px 30px 14px;
  background-color: transparent;
  border: 1px solid #ff5151;
}

.btn__hover a {
  position: relative;
  -webkit-transition: all 0.5s ease-in-out 0s;
  transition: all 0.5s ease-in-out 0s;
}

.btn__hover a:hover {
  border: 1px solid #ff5151;
  color: #fff;
}

.btn__hover a::before,
.btn__hover a::after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 100%;
  -webkit-transition: all 0.5s cubic-bezier(0.645, 0.045, 0.355, 1);
  transition: all 0.5s cubic-bezier(0.645, 0.045, 0.355, 1);
  z-index: -1;
}

.btn__hover a::after {
  width: 0;
  left: auto;
  right: 0;
  background: #ff5151;
}

.btn__hover a:hover::after {
  width: 100%;
  left: 0;
  right: auto;
}

.slider__area {
  position: relative;
}

.slider__area .slider__single-slide {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}

.slider__area .slider__area-nav .owl-nav {
  position: absolute;
  top: 50%;
  -webkit-transform: translateY(-50%);
  transform: translateY(-50%);
  font-size: 20px;
}

.slider__area .slider__area-nav .owl-nav .owl-prev {
  margin-bottom: 62px;
  -webkit-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
}

.slider__area .slider__area-nav .owl-nav .owl-prev:hover {
  color: #ff5151;
}

.slider__area .slider__area-nav .owl-nav .owl-next {
  margin-top: 63px;
  -webkit-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
}

.slider__area .slider__area-nav .owl-nav .owl-next:hover {
  color: #ff5151;
}

.slider__area .slider__area-nav.slider__dot-left .owl-nav {
  left: 50px;
}

.slider__area .slider__area-dot .owl-dots {
  position: absolute;
  top: 50%;
  -webkit-transform: translateY(-50%);
  transform: translateY(-50%);
  left: 50px;
  font-size: 20px;
}

.slider__area .slider__area-dot .owl-dots .owl-dot {
  display: none;
  font-size: 20px;
}

.slider__area .slider__area-dot .owl-dots .owl-dot.active {
  display: block;
}

.slider__area .slider__area-dot .owl-dots.slider__dot-left .owl-dots {
  left: 50px;
}

.slider__content {
  margin-top: 65px;
}

.slider__content h3 {
  font-size: 80px;
  font-family: "Marck Script", cursive;
  color: #ff5151;
  margin: 0;
}

.slider__content h1 {
  font-size: 70px;
  font-weight: bold;
  margin: 29px 0 14px;
}

.slider__content p {
  font-size: 22px;
  margin: 0px 0 44px;
  font-family: "Poppins", sans-serif;
  color: #010225;
  letter-spacing: 0.2px;
}

.slider__single-img.slider__single-mr {
  margin-left: -205px;
  margin-right: -35px;
  margin-top: 140px;
}

.owl-item.active .slider__animated h3 {
  -webkit-animation-delay: 1s;
  animation-delay: 1s;
  -webkit-animation-name: fadeInRight;
  animation-name: fadeInRight;
}

.owl-item.active .slider__animated h5 {
  -webkit-animation-delay: 1s;
  animation-delay: 1s;
  -webkit-animation-name: fadeInRight;
  animation-name: fadeInRight;
}

.owl-item.active .slider__animated h1 {
  -webkit-animation-delay: 1.3s;
  animation-delay: 1.3s;
  -webkit-animation-name: fadeInRight;
  animation-name: fadeInRight;
}

.owl-item.active .slider__animated img {
  -webkit-animation-delay: 1.3s;
  animation-delay: 1.3s;
  -webkit-animation-name: fadeInRight;
  animation-name: fadeInRight;
}

.owl-item.active .slider__animated p {
  -webkit-animation-delay: 1.5s;
  animation-delay: 1.5s;
  -webkit-animation-name: fadeInRight;
  animation-name: fadeInRight;
}

.owl-item.active .slider__animated a {
  -webkit-animation-delay: 1.6s;
  animation-delay: 1.6s;
  -webkit-animation-name: fadeInRight;
  animation-name: fadeInRight;
}

.owl-item.active .slider__animated.slider__single-img img {
  -webkit-animation-delay: 1.6s;
  animation-delay: 1.6s;
  -webkit-animation-name: fadeInLeft;
  animation-name: fadeInLeft;
}

/* Media Query */
@media only screen and (min-width: 1366px) and (max-width: 1600px) {
  .slider__single-img.slider__single-mr {
    margin-left: -80px;
    margin-right: 0px;
  }
}

@media only screen and (min-width: 1200px) and (max-width: 1365px) {
  .slider__single-img.slider__single-mr {
    margin-left: 0px;
    margin-right: 0px;
  }
}

@media only screen and (min-width: 992px) and (max-width: 1199px) {
  .slider__content h3 {
    font-size: 70px;
  }

  .slider__content h1 {
    font-size: 55px;
    margin: 20px 0 14px;
  }

  .slider__content p {
    font-size: 22px;
  }

  .slider__single-img.slider__single-mr {
    margin-left: -80px;
  }
}

@media only screen and (min-width: 768px) and (max-width: 991px) {
  .slider__content h3 {
    font-size: 65px;
  }

  .slider__content h1 {
    font-size: 50px;
    margin: 10px 0 14px;
  }

  .slider__content.ml-70 {
    margin-left: 0;
  }

  .slider__single-img.slider__single-mr {
    margin-left: -122px;
    margin-right: 0;
    margin-top: 95px;
  }
}

@media only screen and (max-width: 767px) {
  .slider__area .slider__single-slide {
    display: block;
    -webkit-box-align: inherit;
    -ms-flex-align: inherit;
    align-items: inherit;
    padding: 0px 0 70px;
  }
  .slider__area .slider__single-slide.height-100vh {
    height: auto;
  }

  .slider__area .slider__area-nav .owl-nav .owl-prev {
    margin-bottom: 35px;
  }

  .slider__area .slider__area-nav .owl-nav .owl-next {
    margin-top: 35px;
  }

  .slider__area .slider__area-nav.slider__dot-left .owl-nav {
    left: 15px;
  }

  .slider__area .slider__area-dot .owl-dots {
    left: 15px;
  }

  .slider__content h3 {
    font-size: 50px;
  }

  .slider__content h1 {
    font-size: 40px;
    margin: 16px 0 10px;
  }

  .slider__content p {
    font-size: 18px;
    margin: 0px 0 30px;
  }

  .slider__content {
    margin-top: 35px;
    text-align: center;
  }
  .slider__content.ml-70 {
    margin-left: 0;
  }

  .slider__single-img.slider__single-mr {
    margin-left: 0px;
    margin-right: 0;
    margin-top: 130px;
  }
}

@media only screen and (min-width: 576px) and (max-width: 767px) {
  .slider__content h3 {
    font-size: 45px;
  }

  .slider__content h1 {
    font-size: 32px;
    margin: 10px 0 10px;
  }

  .slider__content {
    margin-top: 70px;
    text-align: left;
  }
}
